@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p>SE1620, Group3:</p>
    <br />
    <p>Nguyễn Huy Bình</p>
    <br />
    <p>Trần Thị Linh</p>
    <br />
    <p>Phạm Ngọc Anh</p>
    <br />
    <p>Đặng Quốc Sinh</p>
</div>

